@font-face {
    font-family: Big Shoulders;
    src: url('./fonts/Big-shoulders/BigShouldersText-Regular.ttf') format("truetype");
}

.contentContainer {
    display: inline-flex;
    width: 100%;
    height: 95%;
}

.contentSection {
    height: calc(100% - 80px);
    padding: 0 10% 5% 10%;
}

.firstCol {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}


.secondCol {
    width: 70%;
    height: 100%;
    margin-left: 40px;
}

.imageContainer {
    width: 200px;
    height: 200px;
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: coral;
}

.headingContainer h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
    .imageContainer {
        height: 150px;
        width: 150px;
        margin: 0;
    }

    .headingContainer h1 {
        font-size: 40px;
    }

    .contentContainer {
        display: block;
        width: 100%;
        height: 95%;
    }

    .contentSection {
        padding: 0 10% 0% 10%;
    }
    
    .firstCol, .secondCol {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .firstCol {
        height: 30%;
    }

    .secondCol {
        height: 70%;
        margin-left: 0;
    }
}