@font-face {
    font-family: Big Shoulders;
    src: url('./fonts/Big-shoulders/BigShouldersText-Regular.ttf') format("truetype");
}

.firstCol {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.secondCol {
    width: 70%;
    height: 100%;
    margin-left: 40px;
}

.imageContainer {
    width: 200px;
    height: 200px;
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: coral;
}