@font-face {
  font-family: Syne;
  src: url('./fonts/Syne/Syne-Bold.woff') format("woff"), url('./fonts/Syne/Syne-Bold.woff') format("woff2");
  font-style: bold;
}

@font-face {
  font-family: Syne;
  src: url('./fonts/Syne/Syne-Regular.woff') format("woff"), url('./fonts/Syne/Syne-Regular.woff') format("woff2");
  font-style: normal;
}

@font-face {
  font-family: Playfair Display;
  src: url('./fonts/Playfair-Display/PlayfairDisplay-Italic.ttf') format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: Syne;
}

h2 {
  font-family: Playfair Display;
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}