@font-face {
  font-family: Syne;
  src: url('../public/fonts/Syne/Syne-Bold.woff') format("woff"), url('../public/fonts/Syne/Syne-Bold.woff') format("woff2");
  font-style: bold;
}

@font-face {
  font-family: Playfair Display;
  src: url('../public/fonts/Playfair-Display/PlayfairDisplay-Italic.ttf') format("truetype");
}

@font-face {
  font-family: Cormorant;
  src: url('../public//fonts/Cormorant-garamond/CormorantGaramond-Regular.ttf') format("truetype");
}

@font-face {
  font-family: Big Shoulders;
  src: url('../public//fonts/Big-shoulders/BigShouldersText-Regular.ttf') format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #272727;
}

h1 {
  font-family: Syne;
}

h2 {
  font-family: Playfair Display;
  font-weight: 100;
}

h3 {
  font-family: Syne;
  font-stretch: ultra-expanded;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: Cormorant;
}

button {
  position: relative;
  font-family: Syne;
  font-size: 25px;
  border-radius: 50px;
  border-style: none;
  transition: background-color .2s;
  padding: 10px;
}

button:hover {
  background-color: #cecece;
  cursor: pointer;
}