@font-face {
  font-family: Big Shoulders;
  src: url('./fonts/Big-shoulders/BigShouldersText-Regular.ttf') format("truetype");
}

.pageTitle {
  display: flex;
  width: 80vw;
  height: 90vh;
  justify-content: center;
  flex-direction: column;
}

.pageTitle h1 {
  font-size: 200px;
  line-height: .75em;
  letter-spacing: -.05em;
  margin: 0;
}

.pageTitle h2 {
  font-size: 120px;
  line-height: .75em;
  letter-spacing: -.05em;
  margin: 0;
}

.rotTextContainer1, .rotTextContainer2 {
  width: 100%;
  padding: 0 0 0 50%; /*padding to center text*/
  height: 100%;
}

.toplist1, .bottomlist1, .bottomlist2 {
  position: absolute;
  list-style-type: none;
  margin: .1em;
  font-family: Big Shoulders;
  font-size: 40px;
}

.rotTextContainer1, .toplist1 {
  position: absolute;
  bottom: 0;
}

.bottomlist2 {
  top: 200px;
  left: calc(50% + 230px);
}

.half1 {
  transform-origin: bottom right;
}

.half2 {
  transform-origin: top right;
}

.half1, .half2 {
  height: 100%;
  width: 200%;
  transform: translate(-50%, -90%) /*first val is position for div x direction, second val is y direction*/ rotate(-15deg);
}