.navContainer {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 1;
}

.navContainer a {
    font-size: 20px;
    font-family: Syne;
    font-style: normal;
    margin: 0 30px;
}

@media screen and (max-width: 800px) {
    .navContainer {
        height: 60px;
    }

    .navContainer a {
        font-size: 15px;
        margin: 0 20px;
    }
}

@media screen and (max-width: 585px) {
    .navContainer {
        height: 50px;
    }

    .navContainer a {
        font-size: 12px;
        margin: 0 15px;
    }
}