.firstCol {
    width: 50%;
    height: 100%;
}

.secondCol {
    width: 50%;
    height: 100%;
    padding: 0 0 0 30px;
}

.imageContainer {
    height: 100%;
    width: 100%;
    background-color: darkgray;
}

.buttonContainer {
    position: absolute;
    bottom: 15%;
}

.contentContainer p {
    text-align: justify;
}

.buttonContainer button {
    margin: 0 10px 0 0px;
}