.globalContainer {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
  
.section {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 650px;
}

.spacedSection {
    padding-top: 80px;
}

.contentSection {
    height: calc(100% - 80px);
    padding: 0 10% 5% 10%;
}

.contentSection h1 {
    font-size: 60px;
    letter-spacing: -0.05em;
}

.contentContainer {
    display: inline-flex;
    width: 100%;
    height: 95%;
}

.darkBg {
    background-color: #272727;
}

.lightBg {
    background-color: #E9E9E9;
}

.fontColDark {
    color: #272727;
}

.fontColLight {
    color: #E9E9E9;
}

.centralised {
    display: flex;
    justify-content: center;
    align-items: center;
}
