.socialButton {
    width: 60px;
    height: 60px;
    margin: 5px;
    background-color: #e9e9e9;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 400px) {
    .socialButton {
        width: 40px;
        height: 40px;
    }
}