.swiperContainer {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #e5e5e5;
}

.projectVideo {
    object-fit: contain;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    background-color: transparent;
    background: transparent;
  }